@font-face {
  font-family: "Arciform";
  font-style: normal;
  font-weight: 400;

  src: local('Arciform Sans cyr-lat Regular'), local('Arciform-Sans-cyr-lat-Regular'),
  url("../fonts/ArciformSanscyr-lat-Regular.woff") format("woff"),
  url("../fonts/ArciformSanscyr-lat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;

  src: local('Roboto Light'), local('Roboto-Light'),
  url("../fonts/Roboto-Light.woff") format("woff"),
  url("../fonts/Roboto-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;

  src: local('Roboto Regular'), local('Roboto-Regular'),
  url("../fonts/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto-Regular.woff2") format("woff2");
}
