        /*hover-active effects*/
@mixin hover-effects {
transition-duration: 0.3s;

  &:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  &:active {
    outline: none;
    opacity: 0.3;
  }
}
          /*other*/
@mixin set-icon ($path, $w, $h) {
  content: "";
  position: absolute;
  display: block;
  width: $w;
  height: $h;
  background-image: $path;
  background-repeat: no-repeat;
  background-position: center;
}
