          /*font-family*/
$primary-font-family: "Roboto", "Arial", sans-serif;

$primary-btn-color: #4197ff;
$secondary-font-color: #929292;
           /*device width*/
$width-xs-device: 320px;
$width-sm-device: 768px;
$width-md-device: 992px;
$width-lg-device: 1200px;
