.about-us {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: center;
}

.about-us__card {
  flex: 1;
  margin: 0 auto;
  width: 250px;
  margin: 0 45px;
}

.about-us__name {
  color: #c3c6c8;
}

.about-us__item {
  text-align: left;
  color: #7d8288;
}
