.btn {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 25px;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;

  background-color: $primary-btn-color;
  transition-duration: 0.2s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -20px;
    display: block;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    cursor: default;
  }
  &::before {
    left: 46%;
    transform: translateX(-50%) rotate(50deg);
  }
  &::after {
    left: 55%;
    transform: translateX(-50%) rotate(-50deg);
  }
  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }
  &:active {
    opacity: 0.5;
  }
}
