.example {
  background-color: $primary-bg-color1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.example__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.example__title {
  margin-top: 0;
  width: 100%;
}

.example__img {
  margin: 20px 5px;
}

@media (min-width: 335px) {
  .example__img {
    width: 318px;
  }
}
