.page-footer {
  background-color: $primary-bg-color4;
  padding: 10px 0;
  text-align: center;
}

.page-footer__text {
  margin: 0;
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.page-footer__phone,
.page-footer__address {
  color: #000000;
  text-decoration: none;
  @include hover-effects;
  font-weight: 400;
}
