.page-footer {
  border-top: 1px solid #ececec;
  margin-top: 70px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.page-footer__copyright {
  font-size: 13px;
  color: $secondary-font-color;
  flex: 1;
}
