.schedule {
  padding-top: 20px;
  background-color: $primary-bg-color2;
}

.schedule__text {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 40px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  background-color: $primary-bg-color3;
}

.schedule__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  margin-bottom: 20px;
}

.schedule__item {
  position: relative;
  margin: 10px 20px;
  padding-top: 170px;
  font-size: 18px;
  color: #000000;
  text-align: center;
  font-weight: 700;
  width: 250px;

  &::before {
    border-radius: 50%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(1) {
    &::before {
      @include set-icon(url("../img/icon-1.png"), 159px, 159px);
    }
  }
  &:nth-child(2) {
    &::before {
      @include set-icon(url("../img/icon-2.png"), 159px, 159px);
    }
  }
  &:nth-child(3) {
    &::before {
      @include set-icon(url("../img/icon-3.png"), 159px, 159px);
    }
  }
}
