.social-link {
  font-size: 0;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  @include hover-effects;

  &--fb {
    background-image: url("../img/svg/003-facebook-logo-button.svg");
  }
  &--in {
    background-image: url("../img/svg/001-linkedin.svg");
  }
  &--yt {
    background-image: url("../img/svg/002-youtube.svg");
  }
  &--tw {
    background-image: url("../img/svg/004-twitter-logo-button.svg");
  }
}
