.user {
  text-align: right;
}

.user__link {
  color: $primary-btn-color;
  display: inline-block;
  margin: 0 5px;
  padding: 5px 15px;
  border: 1px solid $primary-btn-color;
  font-weight: 700;
  border-radius: 5px;
  @include hover-effects;
}
